<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleGame.css">
    <link rel="stylesheet" href="styleGameHistories.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Rock Paper Scissors</title>
</head>

<body>
    <h1>Summary Statistics</h1>



    <div class="containerBoardHistories">
        <div class="boardHistories">
            <div>YOU</div>
            <div>
                <p>MATCH</p>
            </div>
            <div>COMP</div>
        </div>
    </div>

    <table class="table1">
        <tbody>
            <tr>
                <td><%= summaryStat.playerWinTimes %></td>
                <td>Win</td>
                <td><%= summaryStat.compWinTimes %></td>
            </tr>
            <tr>
                <td><%= summaryStat.playerWinPercentage %> %</td>
                <td>Win Percentage</td>
                <td><%= summaryStat.compWinPercentage %> %</td>
            </tr>
            <tr>
                <td></td>
                <td>Hero Picked</td>
                <td></td>
            </tr>
            <tr>
                <td><%= summaryStat.playerPaperCount %> (<%= summaryStat.playerPaperPercentage %> %)</td>
                <td>
                    <img class="hero" src="assets/Paper.png" alt="">
                </td>
                <td><%= summaryStat.compPaperCount %>x (<%= summaryStat.compPaperPercentage %> %)</td>
            </tr>
            <tr>
                <td><%= summaryStat.playerScissorsCount %>x (<%= summaryStat.playerScissorsPercentage %> %)</td>
                <td>
                    <img class="hero" src="assets/Scissors.png" alt="">
                </td>
                <td><%= summaryStat.compScissorsCount %>x (<%= summaryStat.compScissorsPercentage %> %)</td>
            </tr>

            <tr>
                <td><%= summaryStat.playerRockCount %>x (<%= summaryStat.playerRockPercentage %> %)</td>
                <td>
                    <img class="hero" src="assets/Rock.png" alt="">
                </td>
                <td><%= summaryStat.compRockCount %>x (<%= summaryStat.compRockPercentage %> %)</td>
            </tr>
        </tbody>
    </table>


    <h1>Detail Statistics</h1>

    <% if (statisticData.length > 0) { %>
    <table class="table2">
        <thead>
            <tr>
                <th>ID</th>
                <!-- <th>Timestamp</th> -->
                <th>Player Heroes</th>
                <th>Comp Heroes</th>
                <th style="line-height: 100%;">
                    Final Score <br />
                    <span style="font-size: 14px;">(You : Comp)</span>
                </th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            <% statisticData.forEach(item => { %>
            <tr>
                <td><%= item.id %></td>
                <td>
                    <% item.playerHeroes.forEach(hero => { %>
                    <img class="hero" src="assets/<%= hero %>.png" alt=""><br />
                    <% }) %>
                </td>
                <!-- <td><%= item.compHeroes %></td> -->
                <td>
                    <% item.compHeroes.forEach(hero => { %>
                    <img class="hero" src="assets/<%= hero %>.png" alt=""><br />
                    <% }) %>
                </td>
                <td><%= item.playerScore %> : <%= item.computerScore %></td>
                <td><%= item.winner %></td>
                <% }) %>
            </tr>
        </tbody>
    </table>
    <% } else { %>
    <p>There are no data to display...</p>
    <% } %>




    <nav>
        <a href="/">HOME</a>
        <a href="/game">PLAY GAME</a>
    </nav>

    <script src="appGame.js"></script>
</body>

</html>
